.spacer{
    background-color: transparent;
    padding: 44.5px;
}

.imgFeed{
    width: 40%;
    border: 2px solid white;
    margin: 0px 10px 10px 10px;
}

ul li{
    list-style: none;
}

.feedHeader{
    color: white;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background: #c0007a;
    border: 3px solid white;
    cursor: default;
}

.container{
    display: flex;
}
.feedDisplayLeft{
    flex-basis: 66.66%;
}
.feedDisplayRight{
    justify-content: flex-start;
    flex-basis: 33.33%;
    position: fixed;
    padding-top: 33px;
    color: white;
}
.feedProfilePosition{
    padding-left: 600%;
    width: fit-content;
}

.feedUsername{
    font-size: 20px;
}
.feedLogOut{
    color: white;
    font-size: 15px;
    padding: 10px;
    height: 40px;
    width: 106px;
    border-radius: 6px;
    border: 2px solid white;
    background: #c0007a;
}

.feedIcons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 12px 5px 0px;
    color: white;
    font-size: 25px;
}
.feedIconsLeft{
    display: flex;
}

.author{
    color: white;
    font-size: 20px;
    margin: 0;
    padding-top: 50px;
    padding-right: 15px;
}

.words{
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    font-size: 15px;
    width: 40%;
    cursor: default;
}

.feedIcons:hover{
    cursor: pointer;
}
.feedLogOut:hover{
    cursor: pointer;
}